body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    direction: rtl; 
    }

h1 {
    text-align: center;
    font-size: 28px;
    color: #000000;
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


th {
    background-color: #000000;
    color: white;
    padding: 15px;
    font-size: 18px;
}

td {
    background-color: #f9f9f9;
    padding: 12px;
    font-size: 16px;
    color: #333;
    text-align: center; 
    font-weight: 500;
    font-size: 200%;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}


tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

/* reset Data */
.reset-btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-btn:hover {
    background-color: #d32f2f;
}






@media (max-width: 768px) {
    table, th, td {
        font-size: 14px;
        padding: 8px;
    
    h1 {
        font-size: 24px;
    }
}

table, th, td {
    font-size: 14px;
    padding: 8px;
}

h1 {
    font-size: 24px;
}
}
